<div class="HomeContainer">
  <video loop autoPlay class="HomeVid">
    <track kind="captions" />
    <source src="./assets/ny_timelapse.webm" type="video/webm" />
  </video>
</div>
<div class="container blurb">
  <h2>
    Silent Guardian
  </h2>
  <div class="border-bottom"></div>
  <p>
    Feel safe with Silent Guardian.  Allows anyone to montior and stop crime as it happens.
    Can be used with mobile devices, webcam, or external camera to help montior the bad guys
    through advance face detection powered by Waynce Corp.
  </p>
</div>
